.toolbar{
    position: 100%;
    background: rgb(26,15,75);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(190,190,190);
    color: linear-gradient(180deg, rgba(252,252,252,1) 100%, rgba(59,59,59,1) 100%);
    text-decoration: none;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    margin-bottom: 70px; 
}
.toolbar_navigation{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.toolbar_logo img{
    width: 55px;
}
.toolbar_logo{
    margin-right: 10px;
}

.toolbar_navigation_items ul{
    color: rgb(190,190,190);
    color: linear-gradient(180deg, rgba(252,252,252,1) 100%, rgba(59,59,59,1) 100%);
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
}
.toolbar_navigation_items li{
    padding: 10px;
}

.toolbar_navigation_items a{
    text-decoration: none;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active{
    color: rgb(91,130,255)
}




@media (max-width: 480px){
    .toolbar_navigation_items{
        display: none;
    }
}

@media(min-width: 480px) {
    .toolbar_toggle_button{
        display: none;
    }
}