@media (max-width: 480px) {
  /* navbar */
  .links{
    color: white;
    text-decoration: none;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }


  /* login page */

  .loginPage{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(0,46,74);
    background: linear-gradient(0deg, rgba(0,46,74,1) 0%, rgba(120,204,255,1) 100%);

  } 
  .loginImage{
    width: 90px;
    padding: 40px 0px 60px 0px;
  }
  form {
    text-align: center;
    padding-top: 30px;
  }
  label {
    display: block;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label .label-text {
    cursor: text;
    width: 50px;   
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-55px);
    transition: all 0.3s;

  }
  label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: white;
    font-size: 20px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 75px;
  }
  label input:focus {
    max-width: 100%;
    width: 125px;
  }
  label input:focus + .label-text {
    color: #F0F0F0;
    width: 35px;
    -moz-transform: translateY-(40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-75px);
    transition: all 0.3s;
  }
  label input:valid + .label-text {
    width: 35px;
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-75px);
    transition: all 0.3s;
  }


  .loginForm button{
    padding: 10px 100px 10px 100px;
    background: rgb(0,46,74);
background: linear-gradient(0deg, rgba(0,46,74,1) 0%, rgba(120,204,255,1) 100%);
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  .loginPage h3{
    padding-top: 60px;
    color: white;
    font-size: 15px;
    font-weight: 600;
  }

  /* home page */

  .homePage{
    height: 100vh;
    width: 100%;
    background: rgb(0,46,74);
    background: linear-gradient(0deg, rgba(0,46,74,1) 0%, rgba(120,204,255,1) 100%);
  }
  .homeMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
  }
  .homeMain .homeImg{
    width: 100%;
    height: 325px;
  }
}