@media (max-width: 480px) {
  body{
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  /* navbar */
  .links{
    color: white;
    text-decoration: none;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }


  /* login page */

  .loginPage{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(0,46,74);
    background: linear-gradient(0deg, rgba(0,46,74,1) 0%, rgba(120,204,255,1) 100%);

  } 
  .loginImage{
    width: 90px;
    padding: 40px 0px 60px 0px;
  }
  form {
    text-align: center;
    padding-top: 30px;
  }
  label {
    display: block;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label .label-text {
    cursor: text;
    width: 50px;   
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-55px);
    transition: all 0.3s;

  }
  label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: white;
    font-size: 20px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 75px;
  }
  label input:focus {
    max-width: 100%;
    width: 125px;
  }
  label input:focus + .label-text {
    color: #F0F0F0;
    width: 35px;
    -moz-transform: translateY-(40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-75px);
    transition: all 0.3s;
  }
  label input:valid + .label-text {
    width: 35px;
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-75px);
    transition: all 0.3s;
  }


  .loginForm button{
    padding: 10px 100px 10px 100px;
    background: rgb(0,46,74);
background: linear-gradient(0deg, rgba(0,46,74,1) 0%, rgba(120,204,255,1) 100%);
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  .loginPage h3{
    padding-top: 60px;
    color: white;
    font-size: 15px;
    font-weight: 600;
  }

  /* home page */

  .homePage{
    height: 100vh;
    width: 100%;
    background: rgb(215,215,215);
background: linear-gradient(0deg, rgba(215,215,215,1) 0%, rgba(0,0,0,1) 100%);
  }
  .homeMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
  }
  .homeMain .homeImg{
    width: 100%;
    height: 325px;
  }


  form {
    text-align: center;
    padding-top: 30px;
  }
  .homeSearch {
    display: block;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homeSearch .label-text1 {
    cursor: text;
    width: 25px;   
    -moz-transform: translateX(-70px)translateY(-30px);
    -ms-transform: translateX(-70px)translateY(-30px);
    -webkit-transform: translateX(-70px)translateY(-30px);
    transform: translateX(-70px)translateY(-30px);
    transition: all 0.3s;

  }
  .homeSearch input {
    background-color: transparent;
    border: 0px;
    border: 2px solid #4A4A4A;
    color: white;
    font-size: 20px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: 1s ease-in-out;
    width: 150px;
  }
  .homeSearch input:focus {
    max-width: 100%;
    width: 200px;
    border: 2px solid white;
    
  }
  .homeSearch input:focus + .label-text1 {
    color: #F0F0F0;
    width: 25px;
    -moz-transform: translateX(-95px)translateY(-30px);;
    -ms-transform: translateX(-95px)translateY(-30px);;
    -webkit-transform: translateX(-95px)translateY(-30px);;
    transform: translateX(-95px)translateY(-30px); ;
    transition: all 1s;
  }
  .homeSearch input:valid + .label-text1 {
    width: 25px;
    -moz-transform: translateX(-95px)translateY(-30px);;
    -ms-transform: translateX(-95px)translateY(-30px);;
    -webkit-transform: translateX(-95px)translateY(-30px);;
    transform: translateX(-95px)translateY(-30px);;
    transition: all 1s;
  }


}







@media (min-width: 1280px) {
 body{
  font-family: 'Roboto Condensed', sans-serif;
  background: rgb(26,15,75);
    background: linear-gradient(180deg, rgba(26,15,75,1) 0%, rgba(40,57,110,1) 100%);
}

/* navbar */
ul .navbar-nav{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navigation{
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* home */
  .homePage{
    width: 100%;
    background: rgb(26,15,75);
    background: linear-gradient(180deg, rgba(26,15,75,1) 0%, rgba(40,57,110,1) 100%);
  }
  .homeMain {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgb(80,80,80);
    color: linear-gradient(180deg, rgba(80,80,80,1) 100%, rgba(59,59,59,1) 100%);
  }
  .banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
.bannerLeft{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.bannerLeft .fas{
  font-size: 20px;
}
.links{
  margin: 10px 0px 10px 0px;
  color: rgb(91,130,255);
  color: linear-gradient(180deg, rgba(91,130,255,1) 0%, rgba(82,110,200,1) 100%, rgba(59,59,59,1) 100%);
  text-decoration: none;
  padding-right: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.registerButtons button{
  Padding: 10px 20px 10px 25px;
  border-radius: 7px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  background: rgb(26,15,75);
background: linear-gradient(180deg, rgba(26,15,75,1) 0%, rgba(17,147,207,1) 0%);
  color: rgb(252,252,252);
  color: linear-gradient(180deg, rgba(252,252,252,1) 100%, rgba(59,59,59,1) 100%);
  margin: 0px 5px 0px 5px;
  transition: all 0.3s;
  outline: none;
}
.registerButtons button:hover{
  transform: translateY(-3px);
  box-shadow: 2px 7px 15px 1px #888888;
}
.bannerRight{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 525px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.bannerRight .homeImage {
  width: 700px;
	transform: translateY(0px);
	animation: float 6s ease-in-out infinite;
}

  .homeMain h1{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: rgb(252,252,252);
    color: linear-gradient(180deg, rgba(252,252,252,1) 100%, rgba(59,59,59,1) 100%);
  }
  .bannerLeft p{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    width: 500px;
    color: rgb(190,190,190);
    color: linear-gradient(180deg, rgba(252,252,252,1) 100%, rgba(59,59,59,1) 100%);
  }


  form {
    text-align: center;
    padding-top: 30px;
  }


  .homeSearch {
    display: block;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homeSearch .label-text1 {
    cursor: text;
    width: 30px;   
    -moz-transform: translateX(-110px)translateY(-40px);
    -ms-transform: translateX(110px)translateY(-40px);
    -webkit-transform: translateX(-110px)translateY(-40px);
    transform: translateX(-110px)translateY(-40px);
    transition: all 0.3s;

  }
  .homeSearch input {
    background-color: transparent;
    border: 0px;
    border: 2px solid #4A4A4A;
    color: white;
    font-size: 30px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: 1s ease-in-out;
    width: 250px;
  }
  .homeSearch input:focus {
    max-width: 100%;
    width: 350px;
    border: 2px solid white;
  }
  .homeSearch input:focus + .label-text1 {
    color: #F0F0F0;
    width: 30px;
    -moz-transform: translateX(-155px)translateY(-40px);;
    -ms-transform: translateX(-155px)translateY(-40px);;
    -webkit-transform: translateX(-155px)translateY(-40px);;
    transform: translateX(-155px)translateY(-40px); ;
    transition: all 1s;
  }
  .homeSearch input:valid + .label-text1 {
    width: 30px;
    -moz-transform: translateX(-155px)translateY(-40px);;
    -ms-transform: translateX(-155px)translateY(-40px);;
    -webkit-transform: translateX(-155px)translateY(-40px);;
    transform: translateX(-155px)translateY(-40px);;
    transition: all 1s;
  }


  /* pricing */

  .pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 60px 20px 60px; 
}
.pricingNumber{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pricing h1{
  font-size: 40px;
}
.pricing h5{
    font-size: 15px;
}
.pricing h3{
    font-size: 50px;
    font-weight: 400;
    margin: 10px 0px 20px 0px;
}

.pricing button:hover{
    background-color: #009973;
}
.pricing1{
    height: 85%;
    width: 28%;
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(80,80,80);
    color: linear-gradient(180deg, rgba(80,80,80,1) 100%, rgba(59,59,59,1) 100%);
    background-color: white;
}
.pricingList{
    display: flex;
}
.pricingIcon{
    display: flex;
    flex-direction: column;
}
.pricingIcon span{
    margin: 0px;
    padding: 0px;
    padding: 0px 0px 20px 20px;
    color:#40bf80
}
.pricingIcon .red{
    color:#b30000;
}

.pricingName{
    display: flex;
    flex-direction: column;
}
.pricingName p{
    margin: 0px;
    padding: 0px 0px 20px 20px;
    font-size: 15px;
}
.pricing1 button{
    Padding: 10px 30px 10px 30px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
    background: rgb(91,130,255);
    background: linear-gradient(180deg, rgba(91,130,255,1) 0%, rgba(82,110,200,1) 100%, rgba(59,59,59,1) 100%);
    color: rgb(252,252,252);
    color: linear-gradient(180deg, rgba(252,252,252,1) 100%, rgba(59,59,59,1) 100%);
    margin: 0px 5px 20px 5px;
}


/* description */

.description{
  width: 100%;
  padding: 50px 0px 50px 0px;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(68,95,181);
background: linear-gradient(180deg, rgba(68,95,181,1) 0%, rgba(244,244,244,1) 0%);
}
.descriptionContainer{
 position: relative;
 bottom: 75px;
 width: 75%;
 display: flex;
 align-items: center;
 justify-content: center;
 background: rgb(105, 131, 219);
 background: linear-gradient(180deg, rgba(68,95,181,1) 0%, rgba(249,249,249,1) 0%);
 box-shadow: 2px 7px 15px 1px #888888;
}

.descriptionBox{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 20px 25px 20px;
  text-align: center;
}
.descriptionBox img{
  width: 100px;
}
/* .descriptionBox:hover{
  transform: translateY(-3px);
  box-shadow: 2px 7px 15px 1px #888888;
} */


/* moredescription */

  .moreDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-direction: column;
    width: 100%;
  }
  .description1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px
  }
  .descriptionLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .descriptionRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .descriptionRight img{
    width: 500px;
  }
  .descriptionLeft p{
    width: 400px;
    text-align: center;
    font-size: 20px;
  }

  /* powered by */

  .powered{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .poweredImg{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .poweredImg span img{
    width: 200px;
    padding: 0px 10px 0px 10px;
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    vertical-align: top;
  }

 .poweredImg img{animation-delay: 2s;}
  span:nth-child(1){animation-delay: 2.75s;}
  span:nth-child(2){animation-delay: 3s;}
  span:nth-child(3){animation-delay: 3.15s;}

@keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}




  /* login */

  .loginPage{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(235,235,235);
    background: linear-gradient(180deg, rgba(235,235,235,1) 100%, rgba(59,59,59,1) 100%);
  } 
  .loginImage{
    width: 120px;
    padding: 50px 0px 50px 0px;
  }
  form {
    text-align: center;
    padding-top: 30px;
  }
  label {
    display: block;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label .label-text {
    cursor: text;
    width: 60px;   
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-65px);
    transition: all 0.3s;

  }
  label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: white;
    font-size: 30px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 120px;
  }
  label input:focus {
    max-width: 100%;
    width: 220px;
  }
  label input:focus + .label-text {
    color: #F0F0F0;
    width: 40px;
    -moz-transform: translateY-(40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-80px);
    transition: all 0.3s;
  }
  label input:valid + .label-text {
    width: 40px;
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-80px);
    transition: all 0.3s;
  }


  .loginForm button{
    padding: 10px 100px 10px 100px;
    background: rgb(0,46,74);
background: linear-gradient(0deg, rgba(0,46,74,1) 0%, rgba(120,204,255,1) 100%);
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .loginPage h3{
    padding-top: 60px;
    color: white;
    font-size: 15px;
    font-weight: 600;
  }





}