@media (max-width: 480px) {
  /* navbar */
  .links{
    color: white;
    text-decoration: none;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }


  /* login page */

  .loginPage{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(0,46,74);
    background: linear-gradient(0deg, rgba(0,46,74,1) 0%, rgba(120,204,255,1) 100%);

  } 
  .loginImage{
    width: 90px;
    padding: 40px 0px 60px 0px;
  }
  form {
    text-align: center;
    padding-top: 30px;
  }
  label {
    display: block;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label .label-text {
    cursor: text;
    width: 50px;   
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-55px);
    transition: all 0.3s;

  }
  label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: white;
    font-size: 20px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 75px;
  }
  label input:focus {
    max-width: 100%;
    width: 125px;
  }
  label input:focus + .label-text {
    color: #F0F0F0;
    width: 35px;
    -moz-transform: translateY-(40px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-75px);
    transition: all 0.3s;
  }
  label input:valid + .label-text {
    width: 35px;
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-75px);
    transition: all 0.3s;
  }


  .loginForm button{
    padding: 10px 100px 10px 100px;
    background: rgb(0,46,74);
background: linear-gradient(0deg, rgba(0,46,74,1) 0%, rgba(120,204,255,1) 100%);
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  .loginPage h3{
    padding-top: 60px;
    color: white;
    font-size: 15px;
    font-weight: 600;
  }

  /* home page */

  .homePage{
    height: 100vh;
    width: 100%;
    background: rgb(0,46,74);
    background: linear-gradient(0deg, rgba(0,46,74,1) 0%, rgba(120,204,255,1) 100%);
  }
  .homeMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
  }
  .homeMain .homeImg{
    width: 100%;
    height: 325px;
  }


  form {
    text-align: center;
    padding-top: 30px;
  }
  .homeSearch {
    display: block;
    letter-spacing: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homeSearch .label-text1 {
    cursor: text;
    width: 25px;   
    -moz-transform: translateX(-70px)translateY(-30px);
    -ms-transform: translateX(-70px)translateY(-30px);
    -webkit-transform: translateX(-70px)translateY(-30px);
    transform: translateX(-70px)translateY(-30px);
    transition: all 0.3s;

  }
  .homeSearch input {
    background-color: transparent;
    border: 0px;
    border: 2px solid #4A4A4A;
    color: white;
    font-size: 20px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: 1s ease-in-out;
    width: 150px;
  }
  .homeSearch input:focus {
    max-width: 100%;
    width: 200px;
    border: 2px solid white;
    
  }
  .homeSearch input:focus + .label-text1 {
    color: #F0F0F0;
    width: 25px;
    -moz-transform: translateX(-95px)translateY(-30px);;
    -ms-transform: translateX(-95px)translateY(-30px);;
    -webkit-transform: translateX(-95px)translateY(-30px);;
    transform: translateX(-95px)translateY(-30px); ;
    transition: all 1s;
  }
  .homeSearch input:valid + .label-text1 {
    width: 25px;
    -moz-transform: translateX(-95px)translateY(-30px);;
    -ms-transform: translateX(-95px)translateY(-30px);;
    -webkit-transform: translateX(-95px)translateY(-30px);;
    transform: translateX(-95px)translateY(-30px);;
    transition: all 1s;
  }


  /* search */


  /* Results */
.resultsPage{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results{
  background: rgb(0,46,74);
  background: linear-gradient(0deg, rgba(0,46,74,1) 0%, rgba(120,204,255,1) 100%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultsTitle{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.resultsTitle h1{
  font-size: 50px;
  color: white;
}
.resultsImage {
  width: 120px;
  padding: 0px 20px 10px 20px;
}
.planetImage{
  width: 300px;
  padding-bottom: 20px 
}
.resultsTickets{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;

  background: rgb(215,215,215);
background: linear-gradient(0deg, rgba(215,215,215,1) 0%, rgba(113,113,113,1) 100%);
}
.ticketBox{
  display:flex;
  width: 75%;
  flex-direction: column;
}
.ticketTop{
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px dashed black;
  width: 100%;
  height: 125px;
}
.ticketBottom{
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  height: 50px;
}


}